@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body {
  font-family: "Open Sans";
  padding: none;
  margin: none;
}
#mdc {
  margin-left: 10px;
  margin-top: 10px;
}
h1 {
  margin: none;
}
